article {
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border-radius:15px;
    overflow: hidden;
    padding:10px;
}

section {
    border-bottom:2px solid rgba(0,120,212,0.9);
}
main {
    background: white;
}
footer,
header{
    background: rgba(0,120,212,0.9);
}
.act_shadow {
    box-shadow: 0 0 10px rgba(0,120,212,0.9);
}

.burger * {
    transition: all 0.5s ease;
}

.burger {
    height:20px;
    width:30px;
    position:relative;
    display:none;
}
.burger__line_1,
.burger__line_2,
.burger__line_3 {
    width:100%;
    height:2px;
    background:var(--c1);
    position:absolute;
}
.burger__line_1 {
    top:0;
    left:0;
}
.burger__line_2 {
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    left:0;
}
.burger__line_3 {
    bottom:0;
    left:0;
}

.burger:hover {
    transform:scale(1.1);
    transition: all 0.5s ease;
}

.burger_cross {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:flex-start;
}
.burger_cross .burger__line_1 {
    transform: rotate(45deg) translateY(-50%);
    transform-origin: top left;
    background:var(--c1);
}
.burger_cross .burger__line_2 {
    display:none;
}
.burger_cross .burger__line_3 {
    transform: rotate(-45deg) translateY(50%);
    transform-origin: bottom left;
    background:var(--c1);
}
.burger_cross:hover  {
    transform:scale(1.1);
    transition: all 0.5s ease;
}

.burger_menu {
    height:100vh;
    position: fixed;
    z-index: 999;
}

.burger_menu .header_in {
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction:column-reverse;
}
.burger_menu .header_in .nav {
    width:100%;
    display:flex;
}
.burger_menu .header_in .nav ul {
    display:flex;
    flex-direction:column;
    gap:10px;
    height: 100%;
    justify-content: space-around;
}
.burger_menu .header_in .lang {
    width:100%;
    height: 50px;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    flex: 0 0 50px;
}
@media (max-width:768px) {
    header .nav {
        display:none;
    }
    header .link {
        display:none;
    }
    .burger {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }
}