@font-face {
    font-family: 't1';
    src: url('') format('');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 't2';
    src: url('') format('');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 't3';
    src: url('') format('');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 't4';
    src: url('') format('');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 't5';
    src: url('') format('');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --c1: rgba(30,30,30,1);
    --c2: rgba(30,30,30,0.8);
    --c3: rgba(30,30,30,0.5);
    --c4: rgba(173, 255, 47, 1);
    --c5: rgba(255, 140, 0,1);
    --c6: rgba(255, 215, 0,1);

    --t1:'t1';
    --t2:'t2';
    --t3:'t3';
    --t4:'t4';
    --t5:'t5';
}

.c1 {color:var(--c1);}
.c2 {color:var(--c2);}
.c3 {color:var(--c3);}
.c4 {color:var(--c4);}
.c5 {color:var(--c5);}
.c6 {color:var(--c6);}

.b1 {background:var(--c1);}
.b2 {background:var(--c2);}
.b3 {background:var(--c3);}
.b4 {background:var(--c4);}
.b5 {background:var(--c5);}
.b6 {background:var(--c6);}

.f {display:flex;}
.fc {flex-direction:column;}
.fcr {flex-direction:column-reverse;}
.fr {flex-direction:row;}
.frr {flex-direction: row-reverse;}
.fac {align-items:center;}
.fas {align-items:flex-start;}
.fae {align-items:flex-end;}
._f_ {justify-content: center;}
.f_ {justify-content: flex-start;}
._f {justify-content: flex-end;}
._f_f_ {justify-content: space-around;}
.f_f {justify-content: space-between;}
.fw {flex-wrap:wrap;}
.fnw {flex-wrap:nowrap;}
.fwn {flex-wrap:nowrap;}

.f1_11 {flex:1 1 100%}
.fa_11 {flex:1 1 auto}
.f200_11 {flex:1 1 200px;}
.f5_11 {flex:1 1 5%;}

.gap50 {gap:50px;}
.gap20 {gap:20px;}
.gap10 {gap:10px;}

.T_t::first-letter {text-transform: uppercase;}
.t {text-transform: lowercase;}
.T {text-transform: uppercase;}
._t_ {text-align:center;}
._t {text-align:end;}
.t_ {text-align:start;}
.Tt {text-transform: capitalize;}
.t_nw {white-space: nowrap;}
.t_t {text-align: justify;}

.w {width:100%;}
.w_in {max-width:1092px;}
.w414M {max-width:414px;}
.h {height:100%;}
.h100vh {height: 100vh;}
@media (max-width:768px) {
    .h100vh {
        height: auto;
    }
}
.h50 {height: 50px;}


.pad50tb {padding-top:50px;padding-bottom:50px;}
.pad50t {padding-top:50px;}
.pad30l {padding-left:30px;}
.pad10 {padding:10px;}
.pad30t {padding-top:30px;}

.abs {position:absolute;}
.rel {position:relative;}
.z1 {z-index:1;}
.z2 {z-index:2;}
.z3 {z-index:3;}
.z4 {z-index:4;}
.z5 {z-index:5;}

.__t {top:0px;top:0%;}
.__r {right:0px;right:0%;}
.__b {bottom:0px;bottom:0%;}
.__l {left:0px;left:0%;}





.center {top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.middle {left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
.c {margin:0 auto;}

.none {display:none;}
.contain {-o-object-fit:contain;object-fit:contain;}
.cover {-o-object-fit:cover;object-fit:cover;}
.hide {overflow:hidden;}
.scroll {overflow:auto;height:100%;width:100%;}

.br_15 {border-radius:15px;}
