@import url("reset.css");
@import url("library.css");
@import url("base.css");



input[type=checkbox] {
width: 20px;
height: 20px;
cursor: pointer;
border:1px solid green;
}

.icon {
    padding:2px;
    background: rgb(30,30,30);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
svg {
    min-height: 20px;
}